.search__form {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-bottom: 6em;
  input {
    all: unset;
    padding: 1.5em 2em;
    border-radius: 0.5em;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: $bg;
    font-size: 1rem;
    color: $white;
    width: 90%;
  }
  button {
    all: unset;
  }
  button {
    position: absolute;
    right: 0.5em;
    padding: 0.5em;
    font-size: 1.2rem;
    cursor: pointer;
  }
}
