// video mixin
.video-mixin {
  .video-mixin__thumb {
    img {
      height: 220px;
      width: 100%;
    }
  }
  .video-mixin__data {
    padding: 0px 15px;
    .video-mixin__title-container {
      display: flex;
      align-items: center;
      margin-top: 1em;
      .video-mixin__default-avatar {
        font-size: 40px;
        margin-right: 16px;
      }
      .video-mixin__avatar {
        width: 40px;
        height: 40px;
        margin-right: 16px;
        border-radius: 50%;
      }
      .video-mixin__title {
        font-size: 1.1rem;
        display: block;
      }
    }
    .video-mixin__meta {
      margin-top: 0.2em;
      margin-left: 56px;
      font-size: 0.85rem;
    }
  }
}
