extends base.pug

block content
  div.upload__container
    div.upload__video
      video#preview(loop=true style="transform: scaleX(-1)" crossorigin="isolation" )
      button#actionBtn.form__btn Recording Shorts 
        i.fas.fa-video
    if errorMessage
      span=errorMessage
    form(method="POST" enctype="multipart/form-data")
      label(for="video") Video File 
      input(name="video" type="file" id="video" accept="video/*" required) 
      label(for="thumbnail") Thumbnail 
      input(name="thumbnail" type="file" id="thumbnail" accept="image/*" required) 
      input(name="title" type="text" placeholder="Title" required maxlength=40)
      input(name="description" type="text" placeholder="Description" required maxlength=500)
      input(name="hashtags" type="text" placeholder="Hashtags, separated by comma." required)
      input(type="submit" value="Upload Video")

block scripts
  script(src="/static/js/recorder.js")