header
  a(href="/").header__logo
    i.fab.fa-youtube
    span.logo__bg
  nav
    ul
      li 
        a(href="/search") Search 
          i.fas.fa-search
      if loggedIn
        li 
          a(href="/videos/upload") Upload Video
        li
          a(href=`/users/${loggedInUser._id}`) My Profile
        li 
          a(href="/users/edit") Edit Profile
        li
          a(href="/users/logout") Log Out
        li
          a(href=`/users/${loggedInUser._id}`)
            if !loggedInUser.avatarUrl
              i.fas.fa-user-circle.fa-2x
            else
              img.header__avatar(src=loggedInUser.avatarUrl alt="Avatar image" crossorigin )
      else
        li 
          a(href="/join").header__btn Join