extends ../base
include ../mixins/video

block content 
    div.profile__data
        if !loggedInUser.avatarUrl
            i.fas.fa-user-circle.fa-8x
        else 
            img.avatar(src=loggedInUser.avatarUrl alt="Avatar image" crossorigin)
        h3=user.username
    div.video-grid
        each video in user.videos
            +video(video)
        else
            span.empty__message No videos found 